.button {
  font: bold 15px Arial;
  background-color: #002046;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid;
  padding: 5px 5px 5px 5px;
}

.button:hover {
	text-decoration: underline;
	cursor:pointer;
}

#taust {
	background-image: url("taustapilt.png");
	display: inline-block;
	width: 100%;
	height: 400px;
	background-size: cover; 
	background-repeat: no-repeat;
	text-decoration: none;
	padding: 235px 0px;
	text-align: center;
	color:  #000033;
	font-weight: bold;
	font-size: 45px;
	text-shadow:0px 0px 20px #000033;
}

body{
	background: #F7F7F2;
	color: #333333;
	font-family: Arial, Sans-Serif;
}

.menyy {
	background: #002046;
	list-style-type: none;
	font-size: 18px;
	padding: 10px 0px;
	margin: 0px;
	display: flex;
	flex-wrap: wrap;
}

.menyy li {
	width: 150px;
	padding: 5px;
	margin: 2px;
	flex-grow: 1;
	text-align: center;
}
.menyy a{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

.menyy a:hover {
	text-decoration: underline;
}


.tabel {
	position: relative;
	top: 150px; 
	left: 150px;
	border-spacing: 10px;
}

.tabel caption {
	font-weight: bold;
	font-size: 110%
}

.tabel th, .tabel.td {
	border-top: 0px solid #AAAAAA;
	padding: 5px;	
}

input[type="text"], input[type="password"], input[type="number"], input[type="date"], textarea, select {
	padding: 5px 10px;
	font-size: 13px;
	border: 1px solid #AAAAAA;
	border-radius:3px;
	width: 150px;
}

div.autor {
	position: fixed;
	right: 10px;
	bottom: 40px;
}

div.valideerija {
	position: fixed;
	right: 0px;
    bottom: 0px;
}