<form name="muutmine" action="?page=muutmine" method="POST" id="toode">
<table id="tooted" class="tabel">
	<caption>Toote andmete muutmine</caption>
	<?php if (!empty($toode)): ?>
		<tr>
			<td>
				<label for="nimetus_id">Nimetus: </label>
			</td>
			<td>
				<input id="nimetus_id" type="text" name="nimetus" value="<?php if (isset($toode['nimetus'])) echo htmlspecialchars($toode['nimetus']); ?>">
			</td>
		</tr>
		<tr>
			<td>
				<label for="kategooria_id">Kategooria: </label>
			</td>
			<td>
				<select id="kategooria_id" name="kategooria">
					<option value="valmistoode" <?php if ((isset($toode['kategooria'])) && htmlspecialchars($toode['kategooria'])=='valmistoode') echo 'selected' ;?>>Valmistoode</option>
					<option value="tooraine" <?php if ((isset($toode['kategooria'])) && htmlspecialchars($toode['kategooria'])=='tooraine') echo 'selected' ;?>>Tooraine</option>
					<option value="pakend" <?php if ((isset($toode['kategooria'])) && htmlspecialchars($toode['kategooria'])=='pakend') echo 'selected' ;?>>Pakend</option>
				</select>
			</td>	
		</tr>
		<tr>
			<td>
				<label for="kogus_id">Kogus: </label>
			</td>
			<td>
				<input id="kogus_id" type="number" name="kogus" value="<?php if (isset($toode['kogus'])) echo htmlspecialchars($toode['kogus']); ?>">
			</td>
		</tr>
		<tr>
			<td>
				<label for="kirjeldus_id">Kirjeldus: </label>
			</td>
			<td>
				<textarea id="kirjeldus_id" name="kirjeldus"><?php if (isset($toode['kirjeldus'])) echo htmlspecialchars($toode['kirjeldus']); ?></textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input name="id" type="hidden" value="<?php echo ($_GET['id']) ?>">
				<input class="button" type="submit" value="Muuda toodet"> 
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<?php if (isset($errors)):?>
				<?php foreach($errors as $error):?>
					<div><?php echo htmlspecialchars($error); ?></div>
				<?php endforeach;?>
				<?php endif;?>
			</td>
		</tr>
	<?php endif; ?>
<script src="ladu.js"></script>
</table>
</form>