<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Toodete ladu</title>
	<link rel="stylesheet" type="text/css" href="stiil.css">
</head>
<body>
	<div class="menyykast">
		<ul class="menyy">
			<li><a href="?">Avaleht</a></li>
			<?php if(isset($_SESSION['user'])): ?>
				<li><a href="?page=tooted">Tooted</a></li>

				<?php if ($_SESSION['roll'] == 'admin') :?>
					<li><a href="?page=lisa">Lisa toode</a></li>
				<?php endif; ?>

				<li><a href="?page=logout">Logi välja</a></li>
			<?php else: ?>
				<li><a href="?page=login">Logi sisse</a></li>
			<?php endif; ?>
		</ul>