<form action="?page=login" method="POST">
	<table class="tabel">
		<caption>Sisselogimise vorm</caption>
		<tr>
			<th>
				<label for="kasutajanimi_id">Kasutajanimi: </label>
			</th>
			<td>
				<input type="text" name="user" id="kasutajanimi_id" placeholder="kasutajanimi">
			</td>
		</tr>
		<tr>
			<th>
				<label for="parool_id">Parool: </label>
			</th>
			<td>
				<input type="password" name="pass" id="parool_id" placeholder="parool">
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input class="button" type="submit" value="Logi sisse">
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<?php if (isset($errors)):?>
					<?php foreach($errors as $error):?>
						<div><?php echo htmlspecialchars($error); ?></div>
					<?php endforeach;?>
				<?php endif;?>
			</td>
		</tr>
	</table>
</form>