<table id="tooted" class="tabel">
	<caption>Tooted</caption>
	<thead>
		<tr>
			<th>Nimetus</th>
			<th>Kategooria</th>
			<th>Kogus</th>
			<th>Muutmise aeg</th>
			<th>Kirjeldus</th>
		<tr>
	</thead>
	<tbody>
		<?php if (!empty($tooted)): ?>
			<?php foreach ($tooted as $id=>$toode): ?>
				<tr>
					<td>
						<?= htmlspecialchars($toode['nimetus']); ?>
					</td>
					<td>
						<?= htmlspecialchars($toode['kategooria']); ?>
					</td>
					<td>
						<?= $toode['kogus']; ?>
					</td>
					<td>
						<?= htmlspecialchars($toode['muutmisekuupaev']); ?>
					</td>
					<td>
						<?= htmlspecialchars($toode['kirjeldus']); ?>
					</td>
					<td>
						<form method="post" action="?page=kustutamine">
							<input type="hidden" name="tooteId" value="<?= $toode['id']; ?>">
							<button class="button" type="submit">Kustuta toode</button>
						</form>
					</td>
					<td>					
						<a class="button" href="<?php echo '?page=kuva_toode&id='.$toode['id']; ?>">Muuda toodet</a>
					</td>
				</tr>
			<?php endforeach; ?>
		<?php endif; ?>
	</tbody>
</table>
