<form action="?page=lisa" method="POST" id="toode">
	<table class="tabel">
		<caption>Uue toote andmed: </caption>
		<tr>
			<th>
				<label for="nimetus_id">Nimetus: </label>
			</th>
			<td>
				<input id="nimetus_id" type="text" name="nimetus" placeholder="sisesta nimetus" value="<?php if (isset($toode['nimetus'])) echo htmlspecialchars($toode['nimetus']); ?>">
			</td>
		</tr>
		<tr>
			<th>
				<label for="kategooria_id">Kategooria: </label>
			</th>
			<td>
				<select  id="kategooria_id" name="kategooria">
					<option value="valmistoode" <?php if (!empty($_POST['kategooria']) && $_POST['kategooria']=='valmistoode') echo 'selected' ;?>>Valmistoode</option>
					<option value="tooraine" <?php if (!empty($_POST['kategooria']) && $_POST['kategooria']=='tooraine') echo 'selected' ;?>>Tooraine</option>
					<option value="pakend" <?php if (!empty($_POST['kategooria']) && $_POST['kategooria']=='pakend') echo 'selected' ;?>>Pakend</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>
				<label for="kogus_id">Kogus: </label>
			</th>
			<td>
				<input id="kogus_id" type="number" name="kogus" placeholder="sisesta kogus" value="<?php if (isset($toode['kogus'])) echo htmlspecialchars($toode['kogus']); ?>">
			</td>
		</tr>
		<tr>
			<th>
				<label for="kirjeldus_id">Kirjeldus: </label>
			</th>
			<td>
				<textarea id="kirjeldus_id" name="kirjeldus" placeholder="sisesta kirjeldus"><?php if (isset($toode['kirjeldus'])) echo htmlspecialchars($toode['kirjeldus']); ?></textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input class="button" type="submit" value="Lisa toode"> 
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<?php if (isset($errors)):?>
					<?php foreach($errors as $error):?>
						<div><?php echo htmlspecialchars($error); ?></div>
					<?php endforeach;?>
				<?php endif;?>
			</td>
		</tr>
	</table>
</form>
<script src="ladu.js"></script>